.css1 {
  display: flex;
  background-color: #212529;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.css2 {
  margin-right: 10px;
  align-items: center;
  display: flex;  
  width: 40px;
  display: flex;
  justify-content: center;
  color: #adb5bd;
  height: 88%;
  margin: 4px;
}

.css2:hover {
  background-color: #adb5bd;
  color: #212529;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.active a{
  padding: 5px;
  text-decoration: none;
  text-align: center;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #f8f9fa;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Ponomar", system-ui;
}

.active{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

.css3 {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  font-family: "Ponomar", system-ui;
  font-weight: 600;
}
.css3 a {
  padding: 5px;
  color: #adb5bd;
  text-decoration: none;
  text-align: center;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.css3 a:hover {
  color: #ced4da;
}

.css4 {
  display: flex;
}

.css5{
  /* color: ; */
  font-size: 20px;
}


.css6 {
  text-decoration: none;
}

.navLogoCss {
  background-color: #adb5bd;
  font-size: 25px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 1px 1px 2px #6c757d;
}