@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");


.fullWidthCss {
    color: #33415c;
    font-family: "Markazi Text", serif;
    font-weight: 900;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.fullWidthCss input{
    color: #33415c;
    font-family: "Markazi Text", serif;
    font-weight: 800;
    font-size: 20px;
    width: 97%;
}
.fullWidthCss p {
    margin: 0;
    color: red;
    font-size: 10px;
}

.halfWidthCss {
    width: 48% !important;
    display: inline-block;
}


.halfWidthCss input{
    color: #33415c !important;
    font-family: "Ponomar", system-ui;
    font-weight: 600;
    font-size: 15px;
    width: 97%;
}

.halfWidthCss label {
    display: block;
    color: #33415c;
    font-size: 15px;
    font-weight: 800;
    font-family: "Ponomar", system-ui;
}
.halfWidthCss div{
    width: 100% !important;
}


.fullWidthCSS2 {
    width: 98% !important;
    display: inline-block;
}


.fullWidthCSS2 input{
    color: #33415c !important;
    font-family: "Ponomar", system-ui;
    font-weight: 600;
    font-size: 15px;
    width: 97%;
}

.fullWidthCSS2 label {
    display: block;
    color: #33415c;
    font-size: 15px;
    font-weight: 800;
    font-family: "Ponomar", system-ui;
}
.fullWidthCSS2 div{
    width: 100% !important;
}