.css1 {
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
}
.css1 div {
  display: flex !important;
  width: 100% !important;
  justify-content: flex-start;
}
.css1 div div div:nth-child(1) {
  width: 1% !important;
}
.css1 div div div:nth-child(2) {
    margin: 0;
    width: 30px !important;
}
.css1 div div div:nth-child(3) div:nth-child(2) {
    margin: 0;
    width: 300px !important;
    margin-top: 10px;
    color: #6c757d !important;
    font-weight: 500;
}
