.css1{
    display:  flex;
    justify-content: center;
}
.css2{
    margin-top: 10px;
    background-color: #e01e37;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0.7;
}
.css2 i {
    font-size: 40px;
    color: #641220;
    font-weight: 900;
}
.css4{
    font-family: "Ponomar", system-ui;
    font-size: 30px;
    font-weight: 900;
    text-decoration: underline;
    color: #495057;
}
.css5{
    font-family: "Ponomar", system-ui;
    font-size: 15px;
    color: #495057;
    font-weight: 600;
}
.css6 {
    width: 100%;
    background-color: #2d6a4f;
    color: #d8f3dc;
    border: none;
    border-radius: 11px;
}
.SignUpPopUpHeaderCss{
    font-family: "Ponomar", system-ui;
    color: #2d6a4f;
    text-shadow: 1px 1px 2px #52b788;
    font-size: 30px;
}
.SignUpPopUpTextCss{
    color: #6c757d;
    font-family: "Ponomar", system-ui;
    font-weight: 900;
}
.SignUpPopUpButtonCss{
    width: 100%;
    font-family: "Ponomar", system-ui;
    background-color: #343a40;
    color: #ced4da;
    font-weight: 500;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.SignUpPopUpButtonCss:hover{
    background-color: #343a40 !important;
    color: #ced4da !important;
    font-weight: 900;
    border: none !important;
}
.logoDivCss {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.logo1 {
    font-size: 50px;
    color: #dbb42c;
}

.contentDivCss {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}
.areYouSureTextCss {
    font-family: "Ponomar", system-ui; 
    color: #660708;
    font-weight: 900;
}
.areYouSureTextMessageCss {
    font-family: "Ponomar", system-ui;
    font-weight: 900; 
}
.buttonCssOfSumbitPopUp{
    display: flex;
    justify-content: flex-end;
}
.buttonCssOfSumbitPopUp button {
    font-family: "Ponomar", system-ui;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 100px;
    height: 40px;
}
.buttonCssOfSumbitPopUp button:hover {
    cursor: pointer;
    font-weight: 900;
}
.buttonCssOfSumbitPopUp button:nth-child(1) {
    margin-right: 10px;
    background-color: #333d29;
    color: #c7f9cc;
}
.buttonCssOfSumbitPopUp button:nth-child(1) {
    background-color: #333d29;
    color: #c7f9cc;
}
.buttonCssOfSumbitPopUp button:nth-child(2) {
    background-color: #660708;
    color: #d3d3d3;
}
.successIconCss{
    font-size: 40px;
    color: #588157;
}
.successfullyTextCss {
    font-family: "Ponomar", system-ui;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #40916c;
}
.buttonAfterSubmitPopupCss{
    width: 100%;
    border: none;
    border-radius: 20px;
    height: 40px;
    background-color: #000000;
    color: #ffffff;
}
.buttonAfterSubmitPopupCss:hover {
    cursor: pointer;
    font-weight: 900;
}