.css2 {
    position: absolute;
    top: 37%;
    right: 16px;
    width: 50px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background-color: #495057;
    color: #adb5bd;
    font-weight: 600;
}
.css3{
    height: 50px;
    border-radius: 20px;
    width: 300px;
    border: 2px solid black;
}