.css1 {
    padding: 10px;
    background-color: #ced4da;
    display: flex;
    justify-content: flex-start;
}

.css2 {
    background-color: #6c757d;
    border-radius: 10px;
    padding: 5px;
    font-family: "Ponomar", system-ui;
}

.css2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}
.css2 p i {
    margin-right: 5px;
}

.css3 {
    width: 500px;
    margin: 7px 5px 0px 5px;
    border-top: 2px dashed #6c757d;
}

.css4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #495057;
    color: #ced4da;
}