.cardDivCss{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.cardContainer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    font-family: "Ponomar", system-ui;
    background-color: #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #212529;
}
.cardContainer h1 {
    font-size: 30px;
    margin: 5px;
    color: #495057;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}