.journeyTicketsHeaderDivCss {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ponomar", system-ui;
    font-weight: 900;
    color: #212529;
}
.journeyTicketsDetailsCss{
    margin:10px;
    background-color: #dee2e6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;
    font-family: "Ponomar", system-ui;
}
.journeyTicketsDetailsHeaderCss{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #495057;
    font-weight: 600;
}
.journeyTicketsDetailsValueDivCss{
    display: flex;
    justify-content: space-between;
    color: #6c757d;
    font-weight: 600;
}