@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Ponomar&display=swap");

.css1 {
  display: flex;
}
.css1 div:nth-child(1) {
  width: 20%;
}

.css1 div:nth-child(2) {
  width: 50%;
  margin: 0;
}

.css1 div:nth-child(2) div:nth-child(1) {
  width: 100%;
  /* margin-top: 21px; */
}
.css1 div:nth-child(2) div:nth-child(1) div:nth-child(1) {
  width: 100%;
}

.css1 div:nth-child(3) {
  width: 15%;
}

.css3 {
  font-family: "Ponomar", system-ui;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.css3 h1 {
  background-color: #343a40;
  font-size: 40px !important;
  color: #adb5bd;
  font-weight: 900;
  border-radius: 25px;
  padding: 10px;
}
