.halfWidthCss {
    width: 43.8% !important;
    display: inline-block;
    margin-right: 10px !important;
    font-family: "Markazi Text", serif;
    font-weight: 900;
    font-size: 20px;
    /* color: #33415c; */
    margin-bottom: 20px !important;
    margin-left: 15px !important;
}


.halfWidthCss input{
    color: #33415c !important;
    font-family: "Markazi Text", serif;
    font-weight: 600;
    font-size: 15px;
    width: 97%;
}
.halfWidthCss p {
    margin: 0;
    color: red;
    font-size: 10px;
}

.halfWidthCss label {
    display: block;
}
.halfWidthCss div{
    width: 100% !important;
}



.halfWidthCss2 {
    width: 48% !important;
    display: inline-block;
}


.halfWidthCss2 input{
    color: #33415c !important;
    font-family: "Ponomar", system-ui;
    font-weight: 600;
    font-size: 15px;
    width: 97%;
}

.halfWidthCss2 label {
    display: block;
    color: #33415c;
    font-size: 15px;
    font-weight: 800;
    font-family: "Ponomar", system-ui;
}
.halfWidthCss2 div{
    width: 100% !important;
}