@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Ponomar&display=swap");
.css1 {
  background-color: #0077b6;
  width: 100%;
  height: 100%;
  border-radius: 20px 30px 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.css2 {
  color: #edf2fb;
  font-size: 45px;
}
.css3 {
  font-family: "Ponomar", system-ui;
}
.css4 {
  color: #edf2fb;
  display: flex;
  justify-content: center;
}
.css5 {
  background-color: transparent;
  border: 1px solid #edf2fb;
  color: #edf2fb;
  font-family: "Ponomar", system-ui;
  width: 100px;
  border-radius: 10px;
  transition: all 2s linear;
  transition-behavior: allow-discrete;
  opacity: 1;
  scale: 1;
}

.css6 {
  display: flex;
  justify-content: center;
}
.hidden {
  opacity: 0; /* Makes the element fully transparent */
  visibility: hidden; /* Hides the element so it doesn't take up space */
  transition: opacity 2s ease-out, visibility 2s ease-out; /* Smooth transition over 1 second */
  font-family: "Ponomar", system-ui;
}

.css7 {
    font-family: "Ponomar", system-ui;
  opacity: 1; /* Makes the element fully visible */
  visibility: visible; /* Ensures the element can be interacted with */
  transition: opacity 5s ease-out, visibility 5s ease-out;
}

.none {
  display: none;
}

